//- index.jade
include ./includes/head.jade
    
    //- Add your site or application content here
    
    include ./includes/header.jade
    
    .container
        img.wf-header(src='./img/wf-header.png')
            
        include ./includes/content.jade
    
    include ./includes/footer.jade
    
