//- index.jade
include ./includes/head.jade
    
    //- Add your site or application content here
    
    include ./includes/header.jade
    
    .container
        img.wf-header(src='./img/wf-header.png')
    
    include ./includes/footer.jade
        
    include ./includes/foot.jade
    
