//- index.jade
include ./includes/head.jade
    
    //- Add your site or application content here
    
    .container
        h1 Hello.
    
        h2 Hello again.
    
        p Hello world! This is HTML Boilerplate.
        
    include ./includes/foot.jade
