@import "vendor/normalize";

@import "bourbon";
@import "base/base";

$visual-grid: false;
$visual-grid-color: #fee;
$visual-grid-index: back;

@import "neat";

@import "global";

@import "refills/refills";

.container{
    @include outer-container;
    padding-top: 48px;
    padding-bottom: 64px;
        img.wf-header{
            @include span-columns(7 of 12);
            @include shift(2.5);
        }
        article{
            padding-top: 64px;
            text-align: justify;
            @include span-columns(10 of 12);
            @include shift(1);
        }
}
