/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Bourbon
# Bitters
# Neat
# Global
# Refills
--------------------------------------------------------------*/
@import "vendor/normalize";

@import "bourbon";
@import "base/base";
@import "neat";

@import "global";

@import "refills/refills";

.header-img{
    padding:64px 0 0;
    text-align:center;
    width:100%;
        img.wf-header{
            width:80%;
            max-width:800px;
        }
}

.container{
    @include outer-container;
    padding-top: 12px;
    padding-bottom: 64px;
        article{
            padding-top: 64px;
            text-align: justify;
            @include span-columns(10 of 12);
            @include shift(1);
        }
}
